<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все юзеры</title>
</head>
<body>
ВЕСЬ СПИСОК ТОЛЬКО ДЛЯ АДМИНОВ

<div th:each="us : ${user}">
    <a th:text="${us.getUsername()}"></a>
    <a th:text="${us.getAge()}"></a>
    <a th:text="${us.getPassword()}"></a>
    <div th:each="role: ${us.getRoles()}" th:text="${role.getName()}">role</div>
    <form th:action="@{/admin/{id}/edit(id=${us.getId()})}">
        <input type="submit" value="Edit"/>
    </form>
    <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${us.getId()})}">
        <input type="submit" value="Delete"/>
    </form>

</div>
<form th:action="@{/admin/new}">
    <input type="submit" value="ADD"/>
</form>

<form th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>
